{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="content-body">
		<div class="container-fluid">
			<div class="row page-titles mx-0">
				<div class="col-sm-6 p-md-0">
					<div class="welcome-text">
						<h4>Hi, welcome back!</h4>
						<p class="mb-0">Your business dashboard template</p>
					</div>
				</div>
				<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Layout</a></li>
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Blank</a></li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/2.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$320.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-empty"></i></li>
												<li><i class="fa fa-star-half-empty"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/3.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$325.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-empty"></i></li>
												<li><i class="fa fa-star-half-empty"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/4.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$480.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/5.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$658.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/6.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$280.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-6">
					<div class="card">
						<div class="card-body">
							<div class="row m-b-30">
								<div class="col-md-5 col-xxl-12">
									<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
										<div class="new-arrivals-img-contnent">
											<img class="img-fluid" src="{% static './images/product/7.jpg' %}" alt="">
										</div>
									</div>
								</div>
								<div class="col-md-7 col-xxl-12">
									<div class="new-arrival-content position-relative">
										<h4>Solid Women's V-neck Dark T-Shirt</h4>
										<p class="price">$600.00</p>
										<p>Availability: <span class="item"> In stock <i
													class="fa fa-check-circle text-success"></i></span></p>
										<p>Product code: <span class="item">0405689</span> </p>
										<p>Brand: <span class="item">Lee</span></p>
										<p class="text-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
										<div class="comment-review star-rating text-right">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
											</ul>
											<span class="review-text">(34 reviews) / </span><a class="product-review" href="">Write a review?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}